body{
  font:15px/1.5 Arial, Helvetica,sans-serif;
  padding:0;
  margin:0;
  background-color:#f4f4f4;
}


/* Global */
.container{
  width:80%;
  margin:auto;
  overflow:hidden;
}

/* Header **/
header{
  background:#35424a;
  color:#ffffff;
  padding-top:30px;
  min-height:70px;
  border-bottom:#e8491d 3px solid;
}

header a{
  color:#ffffff;
  text-decoration:none;
  text-transform: uppercase;
  font-size:16px;
}

header li{
  float:left;
  display:inline;
  padding: 0 20px 0 20px;
}

header #branding{
  float:left;
}

header #branding h1{
  margin:0;
}

header nav{
  float:right;
  margin-top:10px;
}

header .highlight, header .current a{
  color:#e8491d;
  font-weight:bold;
}

header a:hover{
  color:#cccccc;
  font-weight:bold;
}


/* Adjust properties of the Odano's Journey to school images*/
#showcase{
  min-height:300px;
  background:url('../../images/final/showcase.jpg') no-repeat top center;
  background-size:cover;
  width:100%;
  height:100%;  
}

#showcase h1{
  margin-top:100px;
  font-size:55px;
  margin-bottom:10px;
}


#showcase p{
  font-size:20px;
}

/* Adjust properties of the textes that are on screen*/
#newsletter{
 padding:10px;
 color:black;
 background-image:linear-gradient(to left ,#fd00da, #19d7f8,#fd00da, #19d7f8,#fd00da, #19d7f8);
 text-align: center; 
 background-blend-mode: color;
}

#newsletter h1{
  float:left;
}

#newsletter form {
  float:right;
  margin-top:15px;
}

#news{
  text-align: center;
  padding:10px;
  background-image:linear-gradient(to right ,#FFFAF0,#DCDCDC,#fd00da,#DCDCDC,#F8F8FF,#FFFFF0,#DCDCDC,#FFF0F5,#19d7f8,#FFFFE0,#DCDCDC,#FFFAF0);
}


/* Adjust properties of the the images on the index/Home page*/
#boxes{
  margin-top:20px;
}

#boxes .box{
  float:left;
  text-align: center;
  width:30%;
  padding:10px;
}

#boxes .box img{
  width:130px;
  height:130px;
}


/* Adjust properties of the dark gifs on the 6PM page*/

.gif{
  text-align: center;
}

img {
   padding:5px;
   margin-top:20px;
   max-width:100%;
   height:auto;
   border-radius:10px;
 
}

/* Control the border around the boxes on the 6PM page */
.light{
  padding:12px;
  background:#C8C8C8;
  color:black;
  margin-top:10px;
  margin-bottom:10px;
  text-align: center;
  border-radius:40px;
}

/* Adjust properties of the last picture on the 6pm page */
.end{
    text-align: center;  
}

.end img{

       max-width:15%;
	   height:auto;
	   
}
.end2 img{
	
	max-width:15%;
	height:auto;
	margin-left:580px;

}

/* Adjust properties of the dark boxes on the the About page */
.dark{
  padding:15px;
  background:#35424a;
  color:#ffffff;
  margin-top:10px;
  margin-bottom:10px;
  text-align: center;
}


/* Controls the Sidebar Hobbie and Quotes boxes on the About page */
aside#sidebar{
  float:right;
  width:30%;
  margin-top:10px;
}

aside#sidebar .quote input, aside#sidebar .quote textarea{
  width:90%;
  padding:5px;
}

/* Main-col */
article#main-col{
  float:left;
  width:65%;
}

 
/* Adjust properties of the Click here to continue button*/
.button2{
    text-align: center;
    position:relative;
    left:0.5%;
    top:77px;
    color: aliceblue;
    text-decoration:none;
    border: 8px solid transparent;
    border-radius: 20px;
    background-image: linear-gradient(to right ,#fd00da, #19d7f8,#fd00da, #19d7f8,#fd00da, #19d7f8);
	background-origin:border-box;
	background-clip:content-box, border-box;
    color: black;  
   
}

.butt2{
  text-align: center;
}

/* Adjust properties of the footer tag which is the last bar at the bottom of the screen of the Home ,6PM and the About page */
footer{
  padding:20px;
  margin-top:80px;
  color:black;
  background-image:linear-gradient(to right ,#fd00da, #19d7f8,#fd00da, #19d7f8,#fd00da, #19d7f8);
  text-align: center;
}
  
     
/* Media Queries controls what happen when the screen is resized */
@media(max-width: 900px){
  header #branding,
  header nav,
  header nav li,
  botton2,
  #newsletter h1,
  #newsletter form,
  #boxes .box,
  article#main-col,
  aside#sidebar{
    float:none;
    text-align:center;
    width:100%;
  }

   


